@import  url('https://fonts.googleapis.com/css2?family=Nuito:wght@200;300;400;600;700&display=swap');

*{
  font-family: 'Nunito',sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-decoration: none;
  text-transform: none;
  transition: .2s  linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
 }

 html::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 5rem;
 }
 
 body{
    background: var(--bg);
 }


section{
    padding: 2rem 9%;
}


.header .icons div{
    color:black;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background:black;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}
/* header */

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 2;
}

.header .logo img{
    height: 10rem;
}

.header .navbar #close{
    display: none;
    position: absolute;
    top: 4rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
}

.header .navbar a{ 
    font-size: 2rem;
    margin-right: 2rem;
    color: #fff;
}

.header .navbar a:hover{
  color: #d3ad7f;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: #d3ad7f;
  }

.header #menu{
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: #fff;
}

/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;

    }

    .header{
        padding:1.5rem 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header  .navbar{
        position: absolute;
        top:100%; right: 0;
        background: orangered;
        width:30rem;
        height:calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
     }


    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }


.header .search-form{
    width:90%;
    right:2rem;
}

}


@media (max-width:450px){

    html{
        font-size: 80%;

    }

}





/* ends */



/* home */

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #2a201c;
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5%;
}

.home .content .title{
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
}

.home .content .title span{
    text-transform: uppercase;
    color: #d3ad7f;
}

.home .content .description{
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.8;
    padding: 2rem 0;
    color: #fff;
    
}

.home .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}

.home .content .btn:hover{
    letter-spacing: .2rem;
}

.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}
/* end */

    .home .image img{
        width: 500px;
        height: 500px;
        object-fit: contain;
        animation: imgg 2s ease-in-out infinite;
        animation-delay: 2s;
    }

    @keyframes imgg{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-22px);
        }
        100%{
            transform: translateY(0);
        }
        
    }

    .home .content .title{
        font-size: 4rem;
    }

    .home .content .description{
        font-size: 1.6rem;
    }

    

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .title{
    text-align: center;
    color: #d3ad7f;
    font-size: 4rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    height: 35%;
    width: 55%;
}

.about .row .content{
    flex: 1 1 45rem;
    
    padding:2rem;
}

.about .row .content h3{
    font-size:3rem;
    color:black;
}
    
.about .row .content p{
    font-size: 1.6rem;
    color:#2a201c;
    padding:1rem 0;
    line-height: 1.8;
}

.about .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}

.about .content .btn:hover{
    letter-spacing: .2rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .title{
    text-align: center;
    color: #d3ad7f;
    font-size: 4rem;
}

.menu .box .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}

.menu .box .btn:hover{
    letter-spacing: .2rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);
}

.menu .box-container .box img{
    height:15rem;
}

.menu .box-container .box h3{
    color:black;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color:black;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    
}

.menu .box-container .box:hover{
    background: orchid;
}

.menu .box-container .box:hover > * {
    color:(--black);
}



.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .title{
    text-align: center;
    color: #d3ad7f;
    font-size: 4rem;
}

.products .box-container .box{
    text-align: center;
    border:var(--border);
    padding:2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:black;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
     background:var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:black;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
    color:black;
}

.products  .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color:black;
    font-size: 2.5rem;
}

.prodcts .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.contact .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem
}

.contact .title{
    text-align: center;
    color: #d3ad7f;
    font-size: 4rem;
}

.contact .row .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}

.contact .row .btn:hover{
    letter-spacing: .2rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover
}

.contact .row form{
    flex: 1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercas;
    font-size: 3.5rem;
    color:black;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--black);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:black;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:black;
    text-transform: none;
    background:none;

}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);
}

.blogs .box-container .box.image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .title{
    text-align: center;
    color: #d3ad7f;
    font-size: 4rem;
}

.blogs .box .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}

.blogs .box .btn:hover{
    letter-spacing: .2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:black;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:black;
    padding: 1rem 0;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .shar{
    padding:1rem;
}

.footer .shar a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:black;
    border:var(--border);
    margin:.3;
    border-radius: 50%;
}

.footer .shar a:hover{
    background-color:var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color:black;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#d3ad7f;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}